$color-background = #324057
$color-background-s = rgba(7, 17, 27, 0.8)
$color-background-ss = rgba(7, 17, 27, 0.5)
$color-background-sss = rgba(7, 17, 27, 0.2)

$color-line = #e5e5e5
$color-font = #515a6e

$color-gray = #e5e5e5
$color-green = #bbe2db
$color-blue = #aebac8

$color-theme = #324057
